<template>
  
                    <div class="card">
                              <header class="card-header">
                                 <p class="card-header-title is-centered ">
                                    {{title}}
                                 </p>
                              </header>
                              <div class="card-image">
                                  <figure class="image is-4by3">
                                    <img  :src='pic' alt="Placeholder image">
                                  </figure>
                              </div>
                              <div class="card-content">
                                  <div class="content">
                                    <slot></slot>
                                  </div>
                              </div>
                              <div class="card-footer">
                                    <div class="card-footer-item">
                                        <p>
                                     <slot name="footer" >
                                         <a href="#" class="button is-primary">default</a>
                                     </slot>
                                        </p>
                                    </div>
                              </div>

                          </div>

</template>
<script>
import cardamon from './assets/cardamon.jpg';
import coir from './assets/coir.jpg';
import turmeric from './assets/turmeric.jpg';
import red_chili from './assets/red-chili.jpg';
import  pepper from './assets/pepper.jpg';
export default {
  data(){
      return{
 cardamon,
 coir,
 turmeric,
 red_chili,
 pepper
      }
  },
  props:{
      title:{type:String,required:true},
      image:{type:String,required:true}
  },
  computed:{
      pic()
      {

          return this.image==='cardamon'?
          this.cardamon:this.image==='pepper'?
          this.pepper:this.image==='coir'?this.coir:
          this.image==='turmeric'?this.turmeric:
          this.image==='red-chili'?this.red_chili:'';
      }
  }
}
</script>
<style lang="scss" scoped>

</style>
